{
    "sourceFile": ".env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 2,
            "patches": [
                {
                    "date": 1691556075505,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                },
                {
                    "date": 1691556263502,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -3,9 +3,9 @@\n DB_HOST=localhost\n DB_PORT=5432\n DB_NAME=tradebot_test\n DB_TEST_NAME=tradebot_test\n-DB_LOGGING = false;\n+DB_LOGGING = false\n \n EXCHANGE_NAME=binance\n EXCHANGE_TESTNET_API_KEY=\n EXCHANGE_TESTNET_API_SECRET=\n"
                },
                {
                    "date": 1691560243839,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -20,9 +20,8 @@\n BOT_BALANCE_SYNC=true\n BOT_ORDER_AMOUNT = 0.0001\n BOT_CURRENCY1 = BTC\n BOT_CURRENCY2 = BUSD\n-BOT_ORDER_PROBABILITY=70\n BOT_MIN_DAILY_PROFIT=200\n BOT_MIN_YERLY_PROFIT=30\n BOT_MIN_BUY_RATE_MARGIN=0.0001\n BOT_MIN_SELL_RATE_MARGIN=0.0001\n"
                }
            ],
            "date": 1691556075505,
            "name": "Commit-0",
            "content": "DB_LOGIN=postgres\nDB_PASS=\nDB_HOST=localhost\nDB_PORT=5432\nDB_NAME=tradebot_test\nDB_TEST_NAME=tradebot_test\nDB_LOGGING = false;\n\nEXCHANGE_NAME=binance\nEXCHANGE_TESTNET_API_KEY=\nEXCHANGE_TESTNET_API_SECRET=\nEXCHANGE_API_KEY=\nEXCHANGE_API_SECRET=\n\nEXCHANGE_RATES_FETCH_TIMEOUT=1\n\nLOG_OUTPUT=true\nBOT_TEST = true\n\nBOT_BALANCE_SYNC=true\nBOT_ORDER_AMOUNT = 0.0001\nBOT_CURRENCY1 = BTC\nBOT_CURRENCY2 = BUSD\nBOT_ORDER_PROBABILITY=70\nBOT_MIN_DAILY_PROFIT=200\nBOT_MIN_YERLY_PROFIT=30\nBOT_MIN_BUY_RATE_MARGIN=0.0001\nBOT_MIN_SELL_RATE_MARGIN=0.0001\nBOT_SELL_FEE=0.001\n"
        }
    ]
}